.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(4, 4, 4, 0.4);
  z-index: 9999;
}

.modal {
  border-radius: 12px;
  position: relative;
  background-color: #fff;
  max-height: calc(100vh - 40px);
  overflow-y: auto;
  z-index: 100;
}

.modalCloseBtn {
  margin: 0;
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  outline: none;
  background: transparent;
  position: absolute;
  top: 14px;
  right: 14px;
  color: #fff;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modalCloseBtn:hover {
  color: #111;
}

.modalCloseIcon {
  stroke: currentColor;
  width: 16px;
  height: 16px;
}
